{% extends 'pancook.html.twig' %}

{% block title %}Pancook - Création de compte{% endblock %}

{% block content %}
	<header class="header cooking">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success container" role="alert">{{ message }}</div>
		{% endfor %}
		<div class="overlay">
			<h1>Pancook</h1>
			<h6>Blog de cuisine pour amateur</h6>
		</div>
	</header>

	{% for message in app.flashes('success') %}
		<div class="alert alert-success container" role="alert">{{ message }}</div>
	{% endfor %}
	
    <main class="container">
        <h2 class="mb-4">Création de compte</h2>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email) }}
			{{ form_row(registrationForm.username, {
                label: 'Pseudo'
            }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            <button type="submit" class="btn btn-primary">Créer un compte</button>
        {{ form_end(registrationForm) }}
    </main>
{% endblock %}
