{% extends 'admin/admin.html.twig' %}


{% block title %}
	Liste des articles
{% endblock %}
{% block content %}
	<h1>Gestion des articles</h1>
	<table class="admin-table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Catégorie</th>
				<th>CreatedAt</th>
				<th>Active</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for post in posts %}
				<tr>
					<td>{{ post.id }}</td>
					<td>{{ post.title }}</td>
					<td>{{ post.category.name }}</td>
					<td>{{ post.createdAt| date('d/m/Y à H:i') }}</td>
					<td>
						<input type="checkbox" name="active" id="customSwitch{{ post.id }}" data-id="{{ post.id }}" {{ post.active ? 'checked' : null}}>
					</td>
					<td>
						<a href="{{ path('admin_post_detail', {id: post.id}) }}">
							<i class="fa-solid fa-eye"></i>
						</a>
						<a href="{{ path('admin_post_update', {id: post.id}) }}">
							<i class="fa-solid fa-pen"></i>
						</a>
						<a href="{{ path('admin_post_delete', {id: post.id, _csrf_token: csrf_token('delete')}) }}" onclick="return confirm('Suppression article ?')">
							<i class="fa-solid fa-trash"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block javascripts %}
	<script src="js/activatePost.js"></script>
{% endblock %}
