{% extends 'pancook.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
	<header class="header cooking">
		{% for message in app.flashes('success') %}
			<div class="alert alert-success container" role="alert">{{ message }}</div>
		{% endfor %}
		<div class="overlay">
			<h1>Pancook</h1>
			<h6>Blog de cuisine pour amateur</h6>
		</div>
	</header>
    <main class="container">
        {% for flash_error in app.flashes('reset_password_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}
        <h2>Réinitialiser votre mot de passe</h2>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <p>
                <small>
                    Entrer votre adresse mail et nous allons vous envoyer un lien pour le réinitialiser.
                </small>
            </p>

            <button class="btn btn-primary">Envoyer</button>
        {{ form_end(requestForm) }}
    </main>
{% endblock %}
