{% extends "base.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('admin/css/style.css')}}" rel="stylesheet"/>
{% endblock %}

{% block head_javascripts %}
	<!-- Font Awesome icons (free version)-->
	<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
	<nav>
		<a href="{{ path('admin_home') }}"><h2>Pancook</h2></a>
		<ul>
			<li><a href="{{ path('admin_category_index') }}">Catégories</a></li>
			<li><a href="{{ path('admin_user_index') }}">Utilisateurs</a></li>
			<li><a href="{{ path('admin_post_index') }}">Articles</a></li>
			<hr>
			<li><a href="{{ path('home') }}">Retourner au blog Pancook</a></li>
		</ul>
	</nav>
	<main>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success" role="alert">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('danger') %}
			<div class="alert alert-danger" role="alert">{{ message }}</div>
		{% endfor %}
		{% block content %}{% endblock %}
	</main>

{% endblock %}
