{% extends 'pancook.html.twig' %}

{% block title %}Ajout d'un article
{% endblock %}

{% block final_stylesheets %}
	<link href="{{ asset('pancook/css/ckeditor.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/45.1.0/ckeditor5.css" crossorigin>
{% endblock %}

{% block content %}
	<header class="header cooking">
		<div class="overlay">
			<h1>Pancook</h1>
			<h6>Blog de cuisine pour amateur</h6>
		</div>
	</header>

	<main class="container mt-3">
		<h2>Ajout d'un article</h2>
		{{ form_start(form, { attr: { id: 'post-form' }}) }}

		{{ form_row(form.title) }}

		{# → Le champ caché (rendu en <input type="hidden" id="post_content" …>) #}
		{{ form_widget(form.content) }}

		{# → Ton conteneur CKEditor #}
		<div class="editor-container editor-container_classic-editor" id="editor-container">
			<div class="editor-container__editor">
				<div id="editor">{{ form.content.vars.value|raw }}</div>
			</div>
		</div>

		{{ form_row(form.imageFile) }}
		{{ form_row(form.category) }}
		{{ form_end(form) }}
	</main>
{% endblock %}

{% block  final_javascripts %}
	<script src="https://cdn.ckeditor.com/ckeditor5/45.1.0/ckeditor5.umd.js" crossorigin></script>
	<script src="https://cdn.ckeditor.com/ckeditor5/45.1.0/translations/fr.umd.js" crossorigin></script>
	<script type="module" src="{{ asset('pancook/js/ckeditor.js') }}"></script>
{% endblock %}
