{% extends 'pancook.html.twig' %}

{% block title %}
	Pancook article -
	{{ post.title }}
{% endblock %}

{% block content %}
	<header class="header-post">
		<div class="post-heading">
			<h1>{{ post.title }}</h1>
			<h6 class="meta">Publié par
				<a href="#">{{ post.user.email }}</a>
				le
				{{ post.createdAt | date('d/m/Y à H:i') }}
				- Classé dans
				<a href="{{ path('post_category_view', {slug: post.category.slug}) }}">{{ post.category.name }}</a>
			</h6>
		</div>
	</header>

	<main class="container mt-5" data-image='{{ post.image }}'>
		<article>{{ post.content | raw }}</article>
		<section class="my-5 comments">
			{% if app.user %}
				{{ form(form) }}{% endif %}
				<h2>Les commentaires de cet article :</h2>
				{% if post.comments|length == 0 %}
					<p>Aucun commentaire pour le moment.</p>
				{% else %}
					{% for comment in post.comments %}
						{% include "components/_comment.html.twig" %}
						{% if not loop.last %}
							<hr>
						{% endif %}
					{% endfor %}
				{% endif %}
			</section>
		</main>
	{% endblock %}

	{% block final_javascripts %}
		<script src="/pancook/js/postBg.js"></script>
	{% endblock %}
