<article class="post-preview">
	{% include "components/_like.html.twig" %}
	<a href="{{ path('post_view', {slug: post.slug}) }}">
		<h2 class="post-title">{{ post.title }}</h2>
		<img src="{{ asset('/pancook/img/posts/' ~ post.imageName) }}" alt="Image de l'article {{ post.title }}">
	</a>
	<div class="post-subtitle">{{ post.content | u.truncate(24, '...') | raw }}</div>

	<p class="post-meta">Ecrit par
		{{ post.user.username }}
		- le
		{{ post.createdAt | date('d/m/Y à H:i') }}
		- Classé dans
		<a href="{{ path('post_category_view', {slug: post.category.slug}) }}">{{ post.category.name }}</a>
	</p>
</article>
{% if not loop.last %}
	<hr>
{% endif %}
